<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Edit Student</h1>

    <form method="POST" class="student-form">

        <label>Student Name:</label>
        <input type="text"
               name="name"
               class="form-input"
               value="{{ student[1] }}"
               required>

        <label>Email:</label>
        <input type="email"
               name="email"
               class="form-input"
               value="{{ student[2] }}">

        <label>Phone:</label>
        <input type="text"
               name="phone"
               class="form-input"
               value="{{ student[3] }}">

        <label>Course:</label>
        <input type="text"
               name="course"
               class="form-input"
               value="{{ student[4] }}">

        <label>Age:</label>
        <input type="number"
               name="age"
               class="form-input"
               value="{{ student[5] }}">

        <button type="submit" class="submit-btn">
            Update Student
        </button>

    </form>

</body>
</html>